#container {
    width: 960px;
    margin: 0 auto;
}

#leftbar {
    float: left;
    width: 140px;
}

#content {
    float: left;
    width: 580px;
}

#rightbar {
    float: left;
    width: 240px;
}

#unit-query-results {
    height: 440px;
}

#unit-summary-stats, #surname-details {
    width: 240px;
    height: 200px;
    background: #E0EDD3;
}

#unit-prob-plot {
    width: 240px;
    height: 300px;
    background: blue;
}

#unit-on-map {
    width: 240px;
    height: 220px;
}

#footer {
    clear: both;
}
